
body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-weight:  lighter;
}
.header{
    width: 100%;
    height: 75px;
    display:flex;
    position:fixed;
    

    .buscador{
        width: 100%;
        height: 75px;
        display:flex;
        align-content: center;
        flex:1;
       
        
     
.input{
   
    flex:1;
    margin-left: -29px;
    width:100%;
    

        input{
            height: 60px;
            padding-left: 50px;
            border:0;
            width:100%;
            .searcher{
                border:0px;
                width:100%;
            }
           
           
           
        }}
    
    .lupa{
        width: 30px;
        height: 30px;
        position:relative;
        top:20px;
        left:15px;   
            /* margin:50px;  */
       
        
  
   
    }}
            
}
.logo{
    
    background-color: black;
    align-items: center;
     justify-content: center;
     display:flex;
     
     svg{
         width: 100px;
        height: 40px;  

     }
}
.navegador{
width:100%;
/*  height: 75px;  */
display:flex;



;
.navegador-lista{
    padding:0;
    font-size: 10px;
    position:fixed;
    top:80px;
    


.navegador-item{
    list-style: none;
        height: auto;
        margin: 0;
        width: 78px;
        padding:10px;
        display:flex;
        align-items: center;
        flex-direction:column;
        text-align: center;
        border-bottom: 1px solid black;
        cursor: pointer;
        li :hover{
            color:red;
        }
        svg{
            
            height:30px;
            width:30px;
        }

    }
}
}






.presentacion{
    height: 384px;
    background-image: url("./assets/batman.jpg");
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
margin-top:70px;
.batman{
   /*  height: 100%; */
    .texto{
        width:100%;
        height: 384px;
        
    
    
    
            
            h1{
                font-size: 28px;
                font-weight: 500;
                margin:0;
               
               
            }
            }

}}

.contenedor{
    padding-left:100px;
    display:flex;
    flex-direction: column;
   
     .contenedor-peliculas{
        display:flex;
        flex-direction:column;
        background-color: grey;
        nav{
           
            width:100%;
            background-color: aqua;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h2{
               
                font-weight: lighter;
                color: grey;
            }
            h4{
                font-weight: lighter;
                color: grey;
            }
        }
 ul{
     padding:0;
     margin:0;
     display:flex;
     flex-direction: row;
     list-style: none;
     flex-wrap: wrap;
     width:100%;
     background-color: green;
    } } 
} 
.pelicula{
    background-color: red; 
  box-sizing:border-box;
  border: 1px solid;
    height: 300px;
    width:20%;
    padding: 10px;
   

    

   
}
@media screen and (max-width: 768px) {
 .hamburguesa{
    display:none;
list-style: none;
display:flex;
 align-items: center;
 text-align: center;
}
.menu{
    display:none;  
svg{
color:red;
height: 300px;

}}}



